:root {
  --border-radius: 0.5em;
}

.sidebar-footer-actions-keyboard-shortcuts {
  display: none;
}

.sidebar-footer-wrapper {
  .sidebar-footer-actions {
    margin-left: 0;
  }

  .powered-by-discourse {
    display: block;
  }
}

body:not(.staff) {
  .ai-bot-conversations .persona-llm-selector {
    display: none;
  }
}

// topic elements
#topic-footer-button-share-and-invite,
body:not(.staff) #topic-footer-button-archive,
#topic-footer-buttons .topic-notifications-button,
.bookmark-menu-trigger,
.more-topics__container,
.private-message-glyph-wrapper,
.topic-header-participants,
.topic-above-footer-buttons-outlet,
.topic-map,
.timeline-ago,
#topic-footer-buttons .topic-footer-main-buttons details {
  display: none;
}

.topic-timer-info {
  border: none;
}

.topic-owner .actions .create-flag {
  // why flag my own post
  display: none;
}

.container.posts {
  margin-bottom: 0;

  .topic-navigation.with-timeline {
    top: calc(var(--header-offset, 60px) + 5.5em);
  }

  .topic-navigation {
    .topic-notifications-button {
      display: none;
    }
  }
}

#topic-title {
  display: flex;
  justify-content: center;
  width: 100%;

  .title-wrapper {
    width: 100%;
    max-width: 960px;
  }
}

.small-action,
.onscreen-post .row {
  justify-content: center;
}

#topic-footer-buttons {
  width: calc(100% - 6.5em);
  margin-top: 0;

  @media screen and (width <= 924px) {
    max-width: unset;
    width: 100%;
  }

  @media screen and (width >= 1300px) {
    width: 100%;
    max-width: 51em;
  }

  .topic-footer-main-buttons {
    justify-content: flex-end;

    @media screen and (width >= 1180px) {
      margin-right: 0.6em;
    }

    @media screen and (width <= 924px) {
      margin-right: 0.6em;
    }
  }
}

#topic-progress-wrapper.docked {
  display: none;
}

@media screen and (width <= 924px) {
  .archetype-private_message .topic-post:last-child {
    margin-bottom: 0;
  }
}

nav.post-controls .actions button {
  padding: 0.5em 0.65em;

  &.reply {
    .d-icon {
      margin-right: 0.45em;
    }
  }
}

.topic-footer-main-buttons {
  margin-left: calc(var(--topic-avatar-width) - 1.15em);
}

// custom header notification button
.user-menu.revamped .menu-tabs-container {
  display: none;
}

#toggle-current-user {
  order: 2;

  img.avatar {
    display: none;
  }
}

.custom-user-menu {
  order: 3;
}

// header bot button
.d-header-icons .ai-bot-button {
  display: none;
}

// narrow desktop slide-out sidebar
.hamburger-panel .revamped .sidebar-section-wrapper.sidebar-section ul {
  grid-template-columns: 1fr;
}

// custom homepage
html.composer-open .custom-homepage #main-outlet {
  padding-bottom: 0;
}

// composer
.reply-details .dropdown-select-box.composer-actions,
.composer-fields {
  display: none;
}

// hide user stuff
.new-user-wrapper {
  .user-navigation {
    display: none;
  }
}

.user-main .about.collapsed-info .details {
  display: none;
}

.user-content {
  margin-top: 0;
}

// custom header menus
.custom-admin-menu-trigger {
  position: relative;
  background: transparent;

  &.-has-messages {
    &::after {
      position: absolute;
      content: "";
      background: var(--danger);
      border-radius: 100%;
      padding: 0.25em;
      top: 0.5em;
      right: 0.25em;
    }
  }
}

.custom-menu {
  .mod-message-badge {
    padding: 0.25em;
    background: var(--danger);
    border-radius: 100%;
    font-size: var(--font-down-3);
  }

  &[class*="__links"] {
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0.75em;
    gap: 0.25em;

    li {
      .discourse-no-touch & {
        &:hover {
          background: var(--d-hover);
        }
      }
    }

    .btn,
    a {
      box-sizing: border-box;
      display: inline-flex;
      justify-content: start;
      gap: 0.5em;
      width: 100%;
      color: var(--primary);
      padding: 0.25em 0.5em;
      line-height: var(--line-height-large);

      .d-icon {
        color: var(--primary-high);
      }

      span {
        display: flex;
        gap: 0.5em;
        align-items: center;
      }
    }
  }
}

// user prefs
.user-preferences-page {
  .d-header-icons .header-dropdown-toggle.search-dropdown {
    display: none;
  }

  .control-group.home,
  .control-group.other {
    display: none;
  }
}

// small screens

@media screen and (width <= 600px) {
  .share-ai-conversation-button {
    .d-icon {
      margin: 0;
    }

    .d-button-label {
      display: none;
    }
  }
}

.mobile-view {
  nav.post-controls .actions button.reply .d-icon {
    margin: 0;
  }

  .search-dropdown {
    display: none;
  }

  .sidebar-custom-sections {
    display: none;
  }
}

// custom user card link
.user-card-meta__profile-link {
  display: block;
  padding: 0.5em 0 0.25em;

  .d-icon {
    font-size: var(--font-down-1);
    margin-right: 0.15em;
  }
}

.custom-homepage__button-wrapper {
  margin-bottom: 2em;
}

.ai-question-button {
  border-radius: var(--border-radius);
  border: 1px solid var(--primary-low);
  line-height: var(--line-height-medium);

  .d-button-label {
    color: var(--primary-high);
  }

  .discourse-no-touch & {
    &:hover {
      background: var(--primary-low);
    }
  }
}

.ai-bot-conversations-page {
  // the ai page has custom buttons that submit the composer automatically
  // so this is a hack to hide the composer appearing
  #reply-control {
    display: none !important;
  }

  .d-header-icons .header-dropdown-toggle.search-dropdown {
    display: none;
  }
}

.sidebar-row {
  --d-sidebar-row-horizontal-padding: 0.33em;
}
